body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chatPage {
  display: flex;
  flex-flow: row nowrap;
}

.selectUser {
  width: 20%;
  height: 100%;
  margin: 10px 0px 0px 10px;
  background-color: rgba(73, 20, 80, 0.9);
  color: white;
}

.personalChat {
  width: 75%;
  position: absolute;
  bottom: 10px;
  left: 20%;
}

.users {
  cursor: pointer;
  margin: 10px 0px;
  padding: 10px;
}

.message {
  margin: 10px;
}

.sender {
  font-weight: bold;
  font-family:  "Book Antiqua";
}

.paper {
  margin: 20px;
}

.textArea {
  border: 10px;
}