html {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 0.8em;
}

.user-welcome {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.user-heading {
  display: flex;
  justify-content: space-between;
  margin: 15px 17px;
}

.select-user {
  background-color: #2196f3;
  color: white;
  font-weight: bold;
  margin: 5px 0;
}

p {
  font-weight: bold;
}

.personal-chat {
  width: 100%;
  background-color: ghostwhite;
}

.chats-header {
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: #2196f3;
  top: 0;
}

.back-button {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px;
}

.all-messages {
  min-height: calc(100vh - 60px);
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sender, .receiver {
  font-family: "Montserrat", sans-serif;
  border: 2px solid #dedede;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  min-width: 40%;
  max-width: 60%;
  box-shadow: 0px 2px 4px 0px rgba(100, 100, 100, 0.3);
}

.sender {
  align-items: flex-end;
  margin-left: auto;
}

.receiver {
  align-items: flex-start;
  margin-right: auto;
}

.users {
  cursor: pointer;
  margin: 10px 5px;
  padding: 10px;
  border-bottom: 1px solid rgba(248, 245, 245, 0.5);
}

.users:hover {
  background-color: rgb(240, 240, 223);
  color: black;
}

.select-message {
  text-align: center;
  font-weight: bold;
}

.chat-box {
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.MuiOutlinedInput-root-41 {
  border: 1px solid gray;
}

.MuiFormControl-fullWidth-40 {
  background-color: white;
}

.sender-name {
  font-weight: bold;
  font-family: "Open Sans";
  padding-bottom: 5px;
}

.paper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-area {
  border: 10px;
}

.leave {
  cursor: pointer;
}

.time {
  font-style: italic;
  font-size: 0.8em;
  color: rgba(24, 75, 216, 0.9);
  padding-top: 3px;
}

.user-typing  {
  width: 50%;
  padding: 10px;
  color: white;
}

@media (min-width: 768px) {
  body {
    font-size: 1em;
  }
  .chatPage {
    display: flex;
    flex-flow: row nowrap
  }
  .user-welcome {
    display: block !important;
    position: fixed;
    width: 30%;
    border-right: 1px solid skyblue;
    overflow-y: auto;
  }
  .personal-chat {
    display: block !important;
    width: 70%;
    float: right;
  }
  .back-button {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .user-welcome {
    width: 25%
  }
  .personal-chat {
    width: 75%
  }
}