body {
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.chatPage {
  display: flex;
  flex-flow: row nowrap;
}

.userWelcome {
  width: 25%;
  margin: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid rgba(70, 70, 70, 0.5);
  position: fixed;
  height: 100%
}

.selectUser {
  background-color: rgb(63, 206, 216);
  color: white;
  font-weight: bold;
}

p {
  font-weight: bold;
  font-size: 20px;
}

.personalChat {
  width: 70%;
  margin-left: 400px;
  float: right;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative
}

.allMessages {
  padding-bottom: 100px;
}

.sender {
  background: linear-gradient(90deg, white 48%, #e0ece5 50%);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5px;
  padding: 5px;
}

.receiver {
  background:linear-gradient(270deg, white 48%, #cfdddc 50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;
  padding: 5px;
}

.users {
  cursor: pointer;
  margin: 10px 0px;
  padding: 10px;
}

.users:hover {
  background-color: rgb(240, 240, 223);
  color: black;
}

.chatBox {
  /* border: 10px; */
  bottom: 0;
  justify-content: center;
  position: absolute;
  height: 100px;
  width: 100%;
  transition: bottom 0.5s
}


.senderName {
  font-weight: bold;
  font-family:  "Book Antiqua";
}

.paper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textArea {
  border: 10px;
}

.leave {
  cursor: pointer;
}

.leave:hover {
  background-color: rgb(73, 72, 72);
  color: rgb(241, 234, 234);
}

.time {
  font-size: 10px;
  font-style: italic;
  color: rgba(24, 75, 216, 0.9)
}

.userTyping  {
  position: fixed;
  background-color: yellow;
  width: 100%;
}